<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>

<div class="container">
  <hr>
  <div class="card">
    <div class="card-header">
      <h3>EDIT CATEGORY</h3>
    </div>
    <div class="class card-body">
      <form method="POST" action="/categories/update">
        <input class="form-control" type="text" name="title" placeholder="Type category Title"
          value="<%= category.title %>"><br>
        <input type="hidden" name="id" value="<%= category.id %>">
        <button class="btn btn-success">UPDATE INFO</button>
      </form>
    </div>
  </div>
</div>


<%- include('../../partials/footer'); %>